# Visual Studio
.vs/
*.suo
*.user
*.ncb
*.aps
*.pdb
*.obj
*.ilk
*.ipch
*.log
*.tlog
*.lastbuildstate
*.exe
*.dll
*.lib
*.exp
*.idb
*.iobj
*.res
*.sbr
*.pch
*.vc.db
*.sdf
*.vshost.exe
Debug/
Release/
x64/
Win32/
bin/
obj/